<section id="app">

  <header id="header">
    <h1>Sfty.io</h1>
  <header>

  <section id="main">

    <h2>Create a Query</h2>
    {{input 
        type="text" 
        id="new-title" 
        placeholder="your title"
        value=newTitle 
        action="createQuery"}}

    <h2>Queries</h2>

    {{outlet}} 
    {{input type="checkbox" id="toggle-all" checked=allAreDone}}
  </section>

  <footer id="footer">
    <span id="query-count">
      <strong>{{remaining}}</strong> {{inflection}} left
    </span>
    <ul>
      <li>{{#link-to "queries.index" activeClass="selected"}}All{{/link-to}}</li>

      <li>{{#link-to "queries.active" activeClass="selected"}}Active{{/link-to}}</li>

      <li>{{#link-to "queries.complete" activeClass="selected"}}Completed{{/link-to}}</li>
    </ul>
    {{#if hasCompleted}}
      <button id="clear-completed" class="round" {{action "clearCompleted"}}>
        Clear completed ({{completed}})
      </button>
    {{/if}}
  </footer>
</section>
